name: CI

on:
  push:
    paths-ignore:
      - "README.md"

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@f8d7259c7a66155a7c4a157a1a10ca601f186594
        with:
          bundler-cache: true
      - run: bundle exec rubocop
      - run: bundle exec rake test
