name: CI

on:
  push:
    paths-ignore:
      - "README.md"

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb
        with:
          bundler-cache: true
      - run: bundle exec rubocop
      - run: bundle exec rake test
