name: CI

on:
  push:
    paths-ignore:
      - "README.md"

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b
        with:
          bundler-cache: true
      - run: bundle exec rubocop
      - run: bundle exec rake test
